* {
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  font-family: $body-font;
}

section {
  .container {
    padding: 30px 20px;
  }
}

p {
  @extend .paragraph-font;
}

header {
  @extend .title-font;
  width: 100%;
  z-index: 2;
  background-color: $dark;
  position: fixed;

  .menu-icon {
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding-top: 10px;

    &:focus{
      outline: none;
    }
  }
} // header

footer {
  @extend .main-content;
  background-color: $secondary;
  color: set-text-color($secondary);
  padding-top: 15px;

  p {
    float: right;
  }
} // footer

.main-content {
  width: 80%;
  float: right;
} //main-content

.container {
  width: 100%;
  margin: 0 auto;
} // container
