// Screens below 400px
@media(max-width: $xs-bp) {
  .h1-font {
    letter-spacing: 2px;
    font-size: 20px;
    color: green;
  }

  .h3-font {
    font-size: 18px;
  }
}

// Screens between 400px and 576px
@media(max-width: $sm-bp)
  and (min-width: $xs-bp) {
    .h1-font {
      letter-spacing: 2px;
      font-size: 26px;
      color: yellow;
    }

    .h3-font {
      font-size: 20px;
    }
}

// Screens between 576px and 768px
@media(max-width: $md-bp)
  and (min-width: $sm-bp) {
    .h1-font {
      letter-spacing: 2px;
      font-size: 30px;
      color: red;
    }

    .h3-font {
      font-size: 22px;
    }
}

// Screens between 768px and 992px
@media(max-width: $lg-bp)
  and (min-width: $md-bp) {
    .h1-font {
      letter-spacing: 2px;
      font-size: 34px;
      color: orange;
    }

    .h3-font {
      font-size: 24px;
    }
}

// Screens between 992px and 1400px
@media(max-width: $xl-bp)
  and (min-width: $lg-bp) {
    .h1-font {
      letter-spacing: 2px;
      font-size: 40px;
      color: purple;
    }

    .h3-font {
      font-size: 26px;
    }
}

// Screens above 1400px
@media(min-width: $xl-bp) {
    .h1-font {
      letter-spacing: 2px;
      font-size: 40px;
      color: blue;
    }

    .h3-font {
      font-size: 26px;
    }
}

// Screens above 768px
@media(min-width: $md-bp) {
  .mobile-nav {
    visibility: hidden;
    transition: 0.0s;

    a {
      transition: 0.0s;
    }
  }

  .menu-icon {
    display: none;
  }
}

// Screens below 992px
@media(max-width: $lg-bp) {
  .side-nav {
    visibility: hidden;
  }

  .logo {
    display: none;
  }

  .header-title {

  }

  .main-content {
    width: 100%;
    float: none;
  }

  .parallax-image {
    background-attachment: scroll;
  }

  #form-button {
    width: 100%;
    margin: 0 15px;
  }

  // .timetable {
  //   font-size: 11px;
  //   letter-spacing: 0.1px;
  // }
}
