// Screens below 400px
@media(max-width: $xs-bp) {
  .h1-font {
    font-size: 22px;
  }

  .h2-font {
    font-size: 20px;
  }

  .h3-font {
    font-size: 18px;
  }

  .paragraph-font {
    font-size: 14px;
  }
}

// Screens between 400px and 576px
@media(max-width: $sm-bp)
  and (min-width: $xs-bp) {
    .h1-font {
      font-size: 24px;
    }

    .h2-font {
      font-size: 22px;
    }

    .h3-font {
      font-size: 20px;
    }

    .paragraph-font {
      font-size: 16px;
    }
}

// Screens between 576px and 768px
@media(max-width: $md-bp)
  and (min-width: $sm-bp) {
    .h1-font {
      font-size: 26px;
    }

    .h2-font {
      font-size: 24px;
    }

    .h3-font {
      font-size: 22px;
    }

    .paragraph-font {
      font-size: 17px;
    }
}

// Screens between 768px and 992px
@media(max-width: $lg-bp)
  and (min-width: $md-bp) {
    .h1-font {
      font-size: 28px;
    }

    .h2-font {
      font-size: 26px;
    }

    .h3-font {
      font-size: 24px;
    }

    .paragraph-font {
      font-size: 18px;
    }
}

// Screens between 992px and 1400px
@media(max-width: $xl-bp)
  and (min-width: $lg-bp) {
    .h1-font {
      font-size: 30px;
    }

    .h2-font {
      font-size: 28px;
    }

    .h3-font {
      font-size: 26px;
    }

    .paragraph-font {
      font-size: 19px;
    }
}

// Screens above 1400px
@media(min-width: $xl-bp) {
    .h1-font {
      font-size: 32px;
    }

    .h2-font {
      font-size: 30px;
    }

    .h3-font {
      font-size: 28px;
    }

    .paragraph-font {
      font-size: 20px;
    }

    .parallax-image1 {
      .home-text {
        .logo {
          width: 150px;
        }
      } // home-text
    } // .parallax-image1

    table {
      height: 700px;
    } // table

    .benefits {
      ul {
        h3 {
          padding-top: 40px;
        }

        li {
          padding-bottom: 10px;
        }
      }

    } // benefits

    .contact {
      h2 {
        padding-bottom: 20px;
      }

      .contact-info {
        img {
          width: 30px;
        }
      } // contact-info

      form {
        h3 {
          padding-bottom: 10px;
        }

        input {
          height: 60px;
        }

        .form-group {
          margin-bottom: 2px;
          padding: 0;
        }

        .btn {
          width: 220px;
          height:50px;
          font-size: 22px;
          margin: 0 15px 0 auto;
        }
      } // form
    } // contact
} // Screens above 1400px

// Screens above 992px
@media(min-width: $lg-bp) {
  .mobile-nav {
    visibility: hidden;
    transition: 0.0s;

    a {
      transition: 0.0s;
    }
  } // mobile-nav

  .menu-icon {
    display: none;
  }
} // Screens above 992px

// Screens below 1400px
@media(max-width: $xl-bp) {
  .nav-font {
    font-size: 22px;
  }

  .nav-style {
    a {
      padding: 35px 10px 10px 20%;
    }
  } // nav-style
} // Screens below 1400px

// Screens below 992px
@media(max-width: $lg-bp) {
  .side-nav {
    visibility: hidden;
  }

  .title-font {
    font-size: 20px;
    padding: 0px 0 0px 2%;
  }

  .main-content {
    width: 100%;
    float: none;
  }

  .parallax-image {
    background-attachment: scroll;
  }

  .parallax-image1 {
    .home-text {
      .logo {
        width: 100px;
      }
    } // home-text
  } // .parallax-image1

  #form-button {
    width: 100%;
    margin: 0 15px;
  }

  .timetable {
    tr {
      font-size: 12px;
      letter-spacing: 0.5px;
    }
  }
} // Screens below 992px

// Screens below 576px
@media(max-width: $sm-bp) {
  .timetable {
    tr {
      font-size: 10px;
      letter-spacing: 0px;
    }
  }

  .title-font {
    font-size: 16px;
  }

  .parallax-image1 {
    .home-text {
      .logo {
        width: 80px;
      }
    } // home-text
  } // .parallax-image1
} // Screens below 576px


/* ----- SCREEN HEIGHTS ----- */
// Screens height below 700px
@media(max-height: 700px) {
  .parallax-image1 {
    .home-text {
      top: 60%;
    } // home-text
  } // .parallax-image1

  .side-nav {
    padding-top: 80px;
  } //side-nav

  .nav-font {
    font-size: 20px;
  }

  .nav-style {
    a {
      padding: 40px 10px 2px 20%;
    }
  } // nav-style
} // Screens height below 700px

// Screens height below 600px
@media(max-height: 600px) {
  .parallax-image1 {
    .home-text {
      top: 55%;
    } // home-text
  } // .parallax-image1

  .nav-style {
    a {
      padding: 35px 10px 0px 20%;
    }
  } // nav-style
} // Screens height below 600px

// Screens height below 500px
@media(max-height: 500px) {
  .nav-style {
    a {
      padding: 20px 10px 0px 20%;
    }
  } // nav-style
} // Screens height below 500px

// Screens height below 400px
@media(max-height: 400px) {
  .parallax-image1 {
    .home-text {
      top: 40%;

      .logo {
        width: 80px;
      }
    } // home-text
  } // .parallax-image1

  .nav-style {
    a {
      padding: 10px 10px 0px 20%;
    }
  } // nav-style
} // Screens height below 400px
