.about {
  @extend .main-content;
  min-height: $section-height;
  background-color: $secondary;
  color: set-text-color($secondary);
}

.timetable {
  @extend .main-content;
  min-height: $section-height;
  background-color: $dark;
  color: set-text-color($dark);
  padding: 40px 0;

  table {
    color: set-text-color($white);
    background-color: $white;
  }
}

.benefits {
  @extend .main-content;
  min-height: $section-height;
  background-color: $secondary;
  color: set-text-color($secondary);
}

.contact {
  @extend .main-content;
  min-height: $section-height;
  background-color: $dark;
  color: set-text-color($dark);

  .form-group {
    margin: 0;
    padding: 0;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  textarea {
    resize: none;
  }

  .btn {
    margin: 0 15px 0 auto;
  }

}

.location {
  @extend .main-content;
  min-height: $section-height;
  background-color: $secondary;
  color: set-text-color($secondary);

  .google-map {
    height: $section-height;
    opacity: 0.9;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(80%);
  }
}
