.about {
  @extend .main-content;
  min-height: $section-height;
  background-color: $dark;
  color: set-text-color($dark);
  display: flex;
  align-items: center;

  #about-text {
    h2 {
      @extend .h2-font;
    }
    p {
      //font-size: 16px;
      @extend .paragraph-font;
    }
  }
} // about

.timetable {
  @extend .main-content;
  min-height: $section-height;
  background-color: $dark;
  color: set-text-color($dark);
  padding-top: 50px;

  table {
    color: set-text-color($white);
    background-color: $white;
    border: 1px solid black;
    text-align: center;

    th {
      text-align: center;
      color: $white;
      background-color: $red;
      padding: 2px;
      margin: 0;
      border: 1.5px solid black;
    }

    td {
      padding: 2px;
      margin: 0;
      border: 1.5px solid black;
    }
  } // table

  .prices {
    div {
      @extend .paragraph-font;
      margin: 20px auto;
    }
  }
} //timetable

.benefits {
  @extend .main-content;
  min-height: $section-height;
  background-color: $dark;
  color: set-text-color($dark);

  h2 {
    @extend .h2-font;
  }

  ul {
    h3 {
      @extend .h3-font;
      padding-top: 20px;
    }

    p {
      @extend .paragraph-font;
    }

    li {
      @extend .paragraph-font;
      padding-bottom: 8px;
      margin-left: 20px;
    }
  }

} // benefits

.contact {
  @extend .main-content;
  min-height: $section-height;
  background-color: $dark;
  color: set-text-color($dark);

  h2 {
    @extend .h2-font;
    padding-bottom: 10px;
  }

  .contact-info {
    p {
      @extend .paragraph-font;
    }

    img {
      width: 24px;
      margin-right: 5px;
      padding-bottom: 5px;
    }

    a {
      @extend .paragraph-font;
      text-decoration: none;
      color: $white;

      &:hover {
        color: $red;
      }
    }
  } // contact-info

  form {
    h3 {
      @extend .h3-font;
      padding-top: 30px;
    }

    .form-group {
      margin: 0;
      padding: 0;
    }

    textarea {
      resize: none;
    }

    .btn {
      border: none;
      color: $white;
      background-color: $red;
      margin: 0 15px 0 auto;

      &:hover {
        transition: 0.0s;
        background-color: $primary;
      }
    }
  } // form

  // Removes number scroller
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
} // contact

.location {
  @extend .main-content;
  min-height: $section-height;
  color: set-text-color($dark);

  .google-map {
    height: $section-height;
    //opacity: 0.8;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(95%);
  }
} //location
