
$section-height: 100vh;

// COLOURS
$primary: #0c0c0c;
$secondary: #666666;
$dark: #333333;
$light: #999999;
$white: #ffffff;

// BREAKPOINTS
$xs-bp: 400px;  // Small Phones   < 400
$sm-bp: 576px;  // Big Phones     < 576
$md-bp: 768px;  // Tablets        < 768
$lg-bp: 992px;  // Small Laptops  > 992 < 1400
$xl-bp: 1400px; // Desktops       > 1400

// FONTS
$heading-font: 'Merriweather', serif;
$body-font: 'Lato', sans-serif;

// SUPER CLASSES
.header-font {
  font-family: $heading-font;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 22px;
  color: purple;
}

.nav-font {
  font-family: $body-font;
  font-size: 26px;
}

.h1-font {
  font-family: $heading-font;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 40px;
  //color: orange;
}

.h2-font {
  font-family: $heading-font;
  //color: green;
}

.h3-font {
  font-family: $body-font;
  //color: yellow;
}

.paragraph-font {
  font-family: $body-font;
  //color: red;
}
