
$section-height: 100vh;

// COLOURS
$primary: #0c0c0c;
$secondary: #666666;
$dark: #333333;
$light: #999999;
$white: #ffffff;

// BREAKPOINTS
$xs-bp: 400px;  // Small Phones   < 400
$sm-bp: 576px;  // Big Phones     < 576
$md-bp: 768px;  // Tablets        < 768
$lg-bp: 992px;  // Small Laptops  > 992 < 1400
$xl-bp: 1400px; // Desktops       > 1400

// FONTS
$body-font: 'Merriweather', serif;
.header-font {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
}
