@import 'variables';
@import 'functions';
@import 'navigation';
@import 'pimages';
@import 'sections';

* {
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  font-size: 16px;
}

header {
  width: 100%;
  z-index: 2;
  background-color: $secondary;
  color: $white;
  position: fixed;

  .menu-icon {
    cursor: pointer;
    border: none;
    color: white;
    background-color: transparent;
    &:focus{
      outline: none;
    }
  }
}

footer {
  @extend .main-content;
  background-color: $primary;
  color: set-text-color($primary);
}

.main-content {
  width: 80%;
  float: right;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 0;
}

// MEDIA QUERIES

// Screens below md-breakpoint
@media(max-width: $md-breakpoint) {
  .side-nav {
    visibility: hidden;
  }

  .main-content {
    width: 100%;
    float: none;
  }

  .parallax-image {
    background-attachment: scroll;
  }

  #form-button {
    width: 100%;
    margin: 0 15px;
  }

  // .timetable {
  //   font-size: 11px;
  //   letter-spacing: 0.1px;
  // }
}

// Screens above md-breakpoint
@media(min-width: $md-breakpoint) {
  .mobile-nav {
    visibility: hidden;
    transition: 0.0s;

    a {
      transition: 0.0s;
    }
  }

  .menu-icon {
    display: none;
  }
}
