.nav-style, .side-nav, .mobile-nav {
  height: 100%;
  position: fixed;
  background-color: #0c0c0c;
  overflow-x: hidden;
  top: 0;
  left: 0; }
  .nav-style a, .side-nav a, .mobile-nav a {
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 22px;
    color: #fff;
    display: block;
    position: relative; }
    .nav-style a:hover, .side-nav a:hover, .mobile-nav a:hover {
      color: red; }
    .nav-style a:after, .side-nav a:after, .mobile-nav a:after {
      content: '';
      position: absolute;
      margin-left: 30px;
      bottom: 0;
      left: 0;
      width: 0%;
      border-bottom: 2px solid red;
      transition: 0.4s; }
    .nav-style a:hover:after, .side-nav a:hover:after, .mobile-nav a:hover:after {
      width: 105px; }

.side-nav {
  width: 20%; }

.mobile-nav {
  z-index: 3;
  width: 0px;
  transition: 0.5s; }
  .mobile-nav a {
    transition: 0.3s; }
  .mobile-nav .btn-close {
    cursor: pointer;
    border: none;
    color: white;
    background-color: transparent;
    margin-top: 20px;
    margin-left: 70%;
    font-size: 36px; }
    .mobile-nav .btn-close:focus {
      outline: none; }

.parallax-image, .parallax-image1, .parallax-image2, .parallax-image3, .parallax-image4 {
  height: 100%;
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.parallax-image1 {
  background-image: url("/images/gym.jpg"); }

.parallax-image2 {
  background-image: url("/images/stretch.jpg"); }

.parallax-image3 {
  background-image: url("/images/felix-teep.jpg"); }

.parallax-image4 {
  background-image: url("/images/scott.jpg"); }

.about {
  min-height: 100vh;
  background-color: #666666;
  color: #fff; }

.timetable {
  min-height: 100vh;
  background-color: #333333;
  color: #fff;
  padding: 40px 0; }
  .timetable table {
    color: #000;
    background-color: #ffffff; }

.benefits {
  min-height: 100vh;
  background-color: #666666;
  color: #fff; }

.contact {
  min-height: 100vh;
  background-color: #333333;
  color: #fff; }

.location {
  min-height: 100vh;
  background-color: #666666;
  color: #fff; }
  .location .google-map {
    height: 100vh;
    opacity: 0.9;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(80%); }

* {
  margin: 0;
  padding: 0; }

body, html {
  height: 100%;
  font-size: 16px; }

header {
  width: 100%;
  z-index: 2;
  background-color: #666666;
  color: #ffffff;
  position: fixed; }
  header .menu-icon {
    cursor: pointer;
    border: none;
    color: white;
    background-color: transparent; }
    header .menu-icon:focus {
      outline: none; }

footer {
  background-color: #0c0c0c;
  color: #fff; }

.main-content, .parallax-image1, .parallax-image2, .parallax-image3, .parallax-image4, .about, .timetable, .benefits, .contact, .location, footer {
  width: 80%;
  float: right; }

.container {
  width: 90%;
  margin: 0 auto;
  padding: 0; }

@media (max-width: 640px) {
  .side-nav {
    visibility: hidden; }
  .main-content, .parallax-image1, .parallax-image2, .parallax-image3, .parallax-image4, .about, .timetable, .benefits, .contact, .location, footer {
    width: 100%;
    float: none; }
  .parallax-image, .parallax-image1, .parallax-image2, .parallax-image3, .parallax-image4 {
    background-attachment: scroll; } }

@media (min-width: 640px) {
  .mobile-nav {
    visibility: hidden;
    transition: 0.0s; }
    .mobile-nav a {
      transition: 0.0s; }
  .menu-icon {
    display: none; } }
