.header-font, .about #about-text h3, .benefits h3, .benefits ul h4, .contact .contact-info h3, .contact form legend, header .header-title {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 22px; }

.nav-font, .nav-style, .side-nav, .mobile-nav {
  font-family: "Lato", sans-serif;
  font-size: 26px; }

.h1-font, .parallax-image1 .home-text h1 {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 40px; }

.nav-style, .side-nav, .mobile-nav {
  text-transform: uppercase;
  height: 100%;
  position: fixed;
  background-color: #0c0c0c;
  overflow-x: hidden;
  top: 0;
  left: 0; }
  .nav-style a, .side-nav a, .mobile-nav a {
    padding: 40px 10px 10px 50px;
    text-decoration: none;
    color: #fff;
    display: block;
    position: relative; }

.side-nav {
  width: 20%;
  padding-top: 170px; }
  .side-nav .links a:hover {
    color: red; }
  .side-nav .links a:after {
    content: '';
    position: absolute;
    margin-left: 53px;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 2px solid red;
    transition: 0.4s; }
  .side-nav .links a:hover:after {
    width: 150px; }

.mobile-nav {
  z-index: 3;
  width: 0px;
  transition: 0.5s;
  opacity: 0.95; }
  .mobile-nav a {
    transition: 0.3s;
    padding: 0 0 40px 40px; }
  .mobile-nav .btn-close {
    cursor: pointer;
    border: none;
    color: white;
    background-color: transparent;
    font-size: 44px;
    padding: 45px 0 10px 200px; }
    .mobile-nav .btn-close:focus {
      outline: none; }

.parallax-image, .parallax-image1, .parallax-image2, .parallax-image3, .parallax-image4 {
  height: 100%;
  position: relative;
  opacity: 0.90;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.parallax-image1 {
  background-image: url("/images/gym.jpg"); }
  .parallax-image1 .home-text {
    position: absolute;
    top: 75%;
    width: 100%;
    text-align: center;
    color: #fff; }
    .parallax-image1 .home-text h2 {
      margin-top: 10px; }

.parallax-image2 {
  background-image: url("/images/stretch.jpg"); }

.parallax-image3 {
  background-image: url("/images/felix-teep.jpg"); }

.parallax-image4 {
  background-image: url("/images/scott.jpg"); }

.about {
  min-height: 100vh;
  background-color: #666666;
  color: #fff;
  display: flex;
  align-items: center; }
  .about #about-text h3 {
    padding-top: 20px; }

.timetable {
  min-height: 100vh;
  background-color: #333333;
  color: #fff;
  padding: 20px 0;
  display: flex;
  align-items: center; }
  .timetable table {
    color: #000;
    background-color: #ffffff; }
    .timetable table th {
      padding: 2px;
      margin: 0; }
    .timetable table td {
      padding: 2px;
      margin: 0; }
  .timetable .prices div {
    padding-top: 10px;
    padding-bottom: 10px; }

.benefits {
  min-height: 100vh;
  background-color: #666666;
  color: #fff;
  display: flex;
  align-items: center; }
  .benefits h3 {
    padding-top: 20px; }
  .benefits ul li {
    padding-bottom: 10px;
    margin-left: 20px; }

.contact {
  min-height: 100vh;
  background-color: #333333;
  color: #fff;
  display: flex;
  align-items: center; }
  .contact .contact-info img {
    width: 22px;
    margin-right: 15px;
    padding-bottom: 5px; }
  .contact .contact-info h3 {
    padding-top: 20px; }
  .contact .contact-info a {
    text-decoration: none;
    color: #ffffff; }
    .contact .contact-info a:hover {
      color: red; }
  .contact form legend {
    padding-top: 30px; }
  .contact form .form-group {
    margin: 0;
    padding: 0; }
  .contact form textarea {
    resize: none; }
  .contact form .btn {
    margin: 0 15px 0 auto; }
  .contact input[type=number]::-webkit-inner-spin-button,
  .contact input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }

.location {
  min-height: 100vh;
  background-color: #666666;
  color: #fff; }
  .location .google-map {
    height: 100vh;
    opacity: 0.9;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(80%); }

* {
  margin: 0;
  padding: 0; }

body, html {
  height: 100%;
  font-family: "Merriweather", serif; }

header {
  width: 100%;
  z-index: 2;
  background-color: #333333;
  color: #ffffff;
  position: fixed;
  text-transform: uppercase; }
  header .logo {
    width: 100px; }
  header .menu-icon {
    cursor: pointer;
    border: none;
    color: white;
    background-color: transparent;
    padding-top: 10px; }
    header .menu-icon:focus {
      outline: none; }

footer {
  background-color: #0c0c0c;
  color: #fff;
  padding-top: 15px; }
  footer p {
    font-size: 14px;
    float: right; }

.main-content, .parallax-image1, .parallax-image2, .parallax-image3, .parallax-image4, .about, .timetable, .benefits, .contact, .location, footer {
  width: 80%;
  float: right; }

.container {
  width: 100%;
  margin: 0 auto; }

@media (max-width: 400px) {
  .home-text img {
    width: 110px; }
  .home-text h1 {
    font-size: 18px;
    color: blue; }
  .home-text h2 {
    font-size: 14px; } }

@media (max-width: 576px) and (min-width: 400px) {
  .home-text img {
    width: 180px; }
  .home-text h1 {
    font-size: 20px;
    color: red; }
  .home-text h2 {
    font-size: 16px; } }

@media (max-width: 768px) and (min-width: 576px) {
  .home-text img {
    width: 180px; }
  .home-text h1 {
    font-size: 20px;
    color: purple; }
  .home-text h2 {
    font-size: 16px; } }

@media (max-width: 992px) {
  .side-nav {
    visibility: hidden; }
  .logo {
    display: none; }
  .main-content, .parallax-image1, .parallax-image2, .parallax-image3, .parallax-image4, .about, .timetable, .benefits, .contact, .location, footer {
    width: 100%;
    float: none; }
  .parallax-image, .parallax-image1, .parallax-image2, .parallax-image3, .parallax-image4 {
    background-attachment: scroll; }
  #form-button {
    width: 100%;
    margin: 0 15px; } }

@media (min-width: 768px) {
  .mobile-nav {
    visibility: hidden;
    transition: 0.0s; }
    .mobile-nav a {
      transition: 0.0s; }
  .menu-icon {
    display: none; } }
