* {
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  font-family: $body-font;
}

header {
  @extend .header-font;
  width: 100%;
  z-index: 2;
  background-color: $primary;
  color: $white;
  position: fixed;
  text-transform: uppercase;

  .menu-icon {
    cursor: pointer;
    border: none;
    color: white;
    background-color: transparent;
    padding-top: 10px;

    &:focus{
      outline: none;
    }
  }
} // header

footer {
  @extend .main-content;
  background-color: $primary;
  color: set-text-color($primary);
  padding-top: 15px;

  p {
    font-size: 14px;
    float: right;
  }
} // footer

.main-content {
  width: 80%;
  float: right;
} //main-content

.container {
  width: 100%;
  margin: 0 auto;
} // container
