.parallax-image {
  height: 100%;
  position: relative;
  opacity: 0.90;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.parallax-image1 {
  @extend .main-content;
  @extend .parallax-image;
  background-image: url('/images/gym.jpg');

  .home-text {
    position: absolute;
    top: 60%;
    width: 100%;
    text-align: center;
    color: #fff;

    img {
      width: 110px;
    }

    h1 {
      @extend .header-font;
      text-transform: uppercase;
      margin-top: 15px;
      letter-spacing: 2px;
    }

    h2 {
      margin-top: 10px;
      //letter-spacing: 1px;
    }
  } // home-text

} // .parallax-image1

.parallax-image2 {
  @extend .main-content;
  @extend .parallax-image;
  background-image: url('/images/stretch.jpg');
}

.parallax-image3 {
  @extend .main-content;
  @extend .parallax-image;
  background-image: url('/images/felix-teep.jpg');
}

.parallax-image4 {
  @extend .main-content;
  @extend .parallax-image;
  background-image: url('/images/scott.jpg');
}
